<% content_for :head do %>
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">New User</h1>
    </div>
  </div>
<% end %>

<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">New User</h3>
  </div>

  <%= render 'form', user: @user %>
</div>
