<% content_for :head do %>
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">User</h1>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">User</h3>
    <div class="card-tools">
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-tool btn-warning" %>
      <%= link_to 'Back', users_path, class: "btn btn-tool btn-default" %>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>
